<div class="fondo">
    <img src="../../../assets/img/Logo.png" alt="">
<h1>DETALLES</h1>
<mat-tab-group fitInkBarToContent>
    <mat-tab label="Cliente">
      <div class="mat-card">
        <mat-card-content>
            <div class="card-container">
            <div class="card border-dark mb-3" style="max-width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Nombre Cliente</h5>
                  <p></p>
                  <h5 class="card-title">Cedula/Rif</h5>
                  <p></p>
                  <h5 class="card-title">Numero Telefonico</h5>
                  <p></p>
                  <h5 class="card-title">Correo Electronico</h5>
                  <p></p>
                  
                </div>
              </div>
             </div> 
        </mat-card-content>
      </div>
    </mat-tab>
    <mat-tab label="Bancos">
      <div class="mat-card">
        <mat-card-content>
            <div class="card-container">
                <div class="card border-dark mb-3" style="max-width: 18rem;">
                    <div class="card-header">Venezuela</div>
                    <div class="card-body">
                      <h5 class="card-title">Nombre</h5>
                      <p></p>
                      <h5 class="card-title">Cedula/Rif</h5>
                      <p></p>
                      <h5 class="card-title">Numero de cuenta</h5>
                      <p></p>
                    </div>
                  </div>
                 </div>

                 <div class="card-container">
                    <div class="card border-dark mb-3" style="max-width: 18rem;">
                        <div class="card-header">Mercantil</div>
                        <div class="card-body">
                          <h5 class="card-title">Nombre</h5>
                          <p></p>
                          <h5 class="card-title">Cedula/Rif</h5>
                          <p></p>
                          <h5 class="card-title">Numero de cuenta</h5>
                          <p></p>
                        </div>
                      </div>
                     </div>
        </mat-card-content>
      </div>
    </mat-tab>
    <mat-tab label="Servicios Activos">
      <div class="mat-card">
        <mat-card-content>
            <div class="card-container">
                <div class="card border-dark mb-3" style="max-width: 18rem;">
                 <div class="card-header">RESIDENCIAL INALÁMBRICO</div> 
                 <p>Plan Básico Plus </p> 
                    <div class="card-body">  
                    </div>
                  </div>
                 </div>
        </mat-card-content>
      </div>
    </mat-tab>
</mat-tab-group>
<div class="footer text-center">
    <a  button routerLink="" class="btn btn-primary btn-round btn-lg btn-block">Registro de pagos</a>
    <a  href="" class="btn btn-primary btn-round btn-lg btn-block">Pagar Facturas</a>
    </div>
  </div>